<a href="https://colab.research.google.com/github/Mudit1234Sinha/Imdb_Movie_Recommendation/blob/main/IMdb_Movie_Recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
!pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.7)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk) (7.1.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk) (2022.6.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk) (4.64.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk) (1.1.0)

In [3]:
import nltk
pd.set_option('display.max_columns', None)

In [4]:
df = pd.read_csv('IMDB_OMDB_Kaggle_TestSet_OMDB_Detailed.csv')
df.head()

,Unnamed: 0,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,Language,Country,Awards,Poster,Ratings.Source,Ratings.Value,Metascore,imdbRating,imdbVotes,imdbID,Type,tomatoMeter,tomatoImage,tomatoRating,tomatoReviews,tomatoFresh,tomatoRotten,tomatoConsensus,tomatoUserMeter,tomatoUserRating,tomatoUserReviews,tomatoURL,DVD,BoxOffice,Production,Website,Response
0,1,Avatar,2009,PG-13,18 Dec 2009,162 min,"Action, Adventure, Fantasy",James Cameron,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",A paraplegic marine dispatched to the moon Pan...,"English, Spanish","UK, USA",Won 3 Oscars. Another 86 wins & 128 nominations.,https://images-na.ssl-images-amazon.com/images...,Internet Movie Database,7.8/10,83,7.8,"939,525",tt0499549,movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/avatar/,22 Apr 2010,"$749,700,000",20th Century Fox,http://www.avatarmovie.com/,True
1,2,Pirates of the Caribbean: At World's End,2007,PG-13,25 May 2007,169 min,"Action, Adventure, Fantasy",Gore Verbinski,"Ted Elliott, Terry Rossio, Ted Elliott (charac...","Johnny Depp, Geoffrey Rush, Orlando Bloom, Kei...","Captain Barbossa, Will Turner and Elizabeth Sw...",English,USA,Nominated for 2 Oscars. Another 20 wins & 44 n...,https://images-na.ssl-images-amazon.com/images...,Internet Movie Database,7.1/10,50,7.1,"506,076",tt0449088,movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/pirates_of_the...,04 Dec 2007,"$309,404,152",Buena Vista,http://disney.go.com/disneypictures/pirates/at...,True
2,3,Spectre,2015,PG-13,06 Nov 2015,148 min,"Action, Adventure, Thriller",Sam Mendes,"John Logan (screenplay), Neal Purvis (screenpl...","Daniel Craig, Christoph Waltz, Léa Seydoux, Ra...",A cryptic message from Bond's past sends him o...,"English, Spanish, Italian, German, French","UK, USA",Won 1 Oscar. Another 7 wins & 30 nominations.,https://images-na.ssl-images-amazon.com/images...,Internet Movie Database,6.8/10,60,6.8,"311,366",tt2379713,movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/spectre_2015/,09 Feb 2016,"$208,777,731",Sony Pictures,http://www.007.com/,True
3,4,The Dark Knight Rises,2012,PG-13,20 Jul 2012,164 min,"Action, Thriller",Christopher Nolan,"Jonathan Nolan (screenplay), Christopher Nolan...","Christian Bale, Gary Oldman, Tom Hardy, Joseph...",Eight years after the Joker's reign of anarchy...,"English, Arabic","UK, USA",Nominated for 1 BAFTA Film Award. Another 38 w...,https://images-na.ssl-images-amazon.com/images...,Internet Movie Database,8.5/10,78,8.5,"1,228,378",tt1345836,movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/the_dark_knigh...,03 Dec 2012,"$448,130,642",Warner Bros. Pictures,http://www.thedarkknightrises.com/,True
4,5,The Lone Ranger,2013,PG-13,03 Jul 2013,150 min,"Action, Adventure, Western",Gore Verbinski,"Justin Haythe (screenplay), Ted Elliott (scree...","Johnny Depp, Armie Hammer, William Fichtner, T...",Native American warrior Tonto recounts the unt...,"English, North American Indian",USA,Nominated for 2 Oscars. Another 4 wins & 17 no...,https://images-na.ssl-images-amazon.com/images...,Internet Movie Database,6.5/10,37,6.5,"191,532",tt1210819,movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/the_lone_ranger/,17 Dec 2013,"$89,289,910",Walt Disney Pictures,http://disney.go.com/the-lone-ranger/,True

In [5]:
df['Plot'][0]

'A paraplegic marine dispatched to the moon Pandora on a unique mission becomes torn between following his orders and protecting the world he feels is his home.'

DATA PREPROCESSING

In [6]:
# Convert to lowercase and remove spaces, punctuations etc...
df['clean_plot'] = df['Plot'].str.lower()
df['clean_plot'] = df['clean_plot'].apply(lambda x: re.sub('[^a-zA-Z]', ' ', x))
df['clean_plot'] = df['clean_plot'].apply(lambda x: re.sub('\s+', ' ', x))
df['clean_plot']

0     a paraplegic marine dispatched to the moon pan...
1     captain barbossa will turner and elizabeth swa...
2     a cryptic message from bond s past sends him o...
3     eight years after the joker s reign of anarchy...
4     native american warrior tonto recounts the unt...
5     transported to barsoom a civil war vet discove...
6     the magically long haired rapunzel has spent h...
7     a strange black entity from another world bond...
8     when tony stark and bruce banner try to jump s...
9     political interference in the avengers activit...
10    fearing that the actions of superman are left ...
11    a reluctant hobbit bilbo baggins sets out to t...
12    as harry potter begins his sixth year at hogwa...
13    the dwarves along with bilbo baggins and ganda...
14    bilbo and company are forced to engage in a wa...
15    jack sparrow and barbossa embark on a quest to...
16    superman reappears after a long absence but is...
17    james bond descends into mystery as he tries t...
18    earth s mightiest heroes must come together an...
19    jack sparrow races to recover the heart of dav...
20    clark kent one of the last of an extinguished ...
21    the pevensie siblings return to narnia where t...
22    after peter parker is bitten by a genetically ...
23    a new theme park built on the original site of...
Name: clean_plot, dtype: object

In [7]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

**TOKENIZE THE SENTENCE**

In [8]:
df['clean_plot'] = df['clean_plot'].apply(lambda x: nltk.word_tokenize(x))
df['clean_plot']

0     [a, paraplegic, marine, dispatched, to, the, m...
1     [captain, barbossa, will, turner, and, elizabe...
2     [a, cryptic, message, from, bond, s, past, sen...
3     [eight, years, after, the, joker, s, reign, of...
4     [native, american, warrior, tonto, recounts, t...
5     [transported, to, barsoom, a, civil, war, vet,...
6     [the, magically, long, haired, rapunzel, has, ...
7     [a, strange, black, entity, from, another, wor...
8     [when, tony, stark, and, bruce, banner, try, t...
9     [political, interference, in, the, avengers, a...
10    [fearing, that, the, actions, of, superman, ar...
11    [a, reluctant, hobbit, bilbo, baggins, sets, o...
12    [as, harry, potter, begins, his, sixth, year, ...
13    [the, dwarves, along, with, bilbo, baggins, an...
14    [bilbo, and, company, are, forced, to, engage,...
15    [jack, sparrow, and, barbossa, embark, on, a, ...
16    [superman, reappears, after, a, long, absence,...
17    [james, bond, descends, into, mystery, as, he,...
18    [earth, s, mightiest, heroes, must, come, toge...
19    [jack, sparrow, races, to, recover, the, heart...
20    [clark, kent, one, of, the, last, of, an, exti...
21    [the, pevensie, siblings, return, to, narnia, ...
22    [after, peter, parker, is, bitten, by, a, gene...
23    [a, new, theme, park, built, on, the, original...
Name: clean_plot, dtype: object

In [9]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

**REMOVE STOPWORDS**

In [10]:
stop_words = nltk.corpus.stopwords.words('english')
plot = []
for sentence in df['clean_plot']:
  temp  = []
  for word in sentence:
    if word not in stop_words or len(word) > 3:
      temp.append(word)
  plot.append(temp)

plot

[['paraplegic',
  'marine',
  'dispatched',
  'moon',
  'pandora',
  'unique',
  'mission',
  'becomes',
  'torn',
  'between',
  'following',
  'orders',
  'protecting',
  'world',
  'feels',
  'home'],
 ['captain',
  'barbossa',
  'will',
  'turner',
  'elizabeth',
  'swann',
  'must',
  'sail',
  'edge',
  'map',
  'navigate',
  'treachery',
  'betrayal',
  'find',
  'jack',
  'sparrow',
  'make',
  'their',
  'final',
  'alliances',
  'one',
  'last',
  'decisive',
  'battle'],
 ['cryptic',
  'message',
  'from',
  'bond',
  'past',
  'sends',
  'trail',
  'uncover',
  'sinister',
  'organization',
  'while',
  'battles',
  'political',
  'forces',
  'keep',
  'secret',
  'service',
  'alive',
  'bond',
  'peels',
  'back',
  'layers',
  'deceit',
  'reveal',
  'terrible',
  'truth',
  'behind',
  'spectre'],
 ['eight',
  'years',
  'after',
  'joker',
  'reign',
  'anarchy',
  'dark',
  'knight',
  'with',
  'help',
  'enigmatic',
  'selina',
  'forced',
  'from',
  'imposed',
  'exile',
  'save',
  'gotham',
  'city',
  'edge',
  'total',
  'annihilation',
  'from',
  'brutal',
  'guerrilla',
  'terrorist',
  'bane'],
 ['native',
  'american',
  'warrior',
  'tonto',
  'recounts',
  'untold',
  'tales',
  'that',
  'transformed',
  'john',
  'reid',
  'man',
  'law',
  'into',
  'legend',
  'justice'],
 ['transported',
  'barsoom',
  'civil',
  'war',
  'vet',
  'discovers',
  'barren',
  'planet',
  'seemingly',
  'inhabited',
  'foot',
  'tall',
  'barbarians',
  'finding',
  'himself',
  'prisoner',
  'these',
  'creatures',
  'escapes',
  'only',
  'encounter',
  'woola',
  'princess',
  'desperate',
  'need',
  'savior'],
 ['magically',
  'long',
  'haired',
  'rapunzel',
  'spent',
  'entire',
  'life',
  'tower',
  'that',
  'runaway',
  'thief',
  'stumbled',
  'upon',
  'about',
  'discover',
  'world',
  'first',
  'time',
  'really'],
 ['strange',
  'black',
  'entity',
  'from',
  'another',
  'world',
  'bonds',
  'with',
  'peter',
  'parker',
  'causes',
  'inner',
  'turmoil',
  'contends',
  'with',
  'new',
  'villains',
  'temptations',
  'revenge'],
 ['when',
  'tony',
  'stark',
  'bruce',
  'banner',
  'try',
  'jump',
  'start',
  'dormant',
  'peacekeeping',
  'program',
  'called',
  'ultron',
  'things',
  'go',
  'horribly',
  'wrong',
  'earth',
  'mightiest',
  'heroes',
  'stop',
  'villainous',
  'ultron',
  'from',
  'enacting',
  'terrible',
  'plan'],
 ['political',
  'interference',
  'avengers',
  'activities',
  'causes',
  'rift',
  'between',
  'former',
  'allies',
  'captain',
  'america',
  'iron',
  'man'],
 ['fearing',
  'that',
  'actions',
  'superman',
  'left',
  'unchecked',
  'batman',
  'takes',
  'man',
  'steel',
  'while',
  'world',
  'wrestles',
  'with',
  'what',
  'kind',
  'hero',
  'really',
  'needs'],
 ['reluctant',
  'hobbit',
  'bilbo',
  'baggins',
  'sets',
  'lonely',
  'mountain',
  'with',
  'spirited',
  'group',
  'dwarves',
  'reclaim',
  'their',
  'mountain',
  'home',
  'gold',
  'within',
  'from',
  'dragon',
  'smaug'],
 ['harry',
  'potter',
  'begins',
  'sixth',
  'year',
  'hogwarts',
  'discovers',
  'old',
  'book',
  'marked',
  'property',
  'half',
  'blood',
  'prince',
  'begins',
  'learn',
  'more',
  'about',
  'lord',
  'voldemort',
  'dark',
  'past'],
 ['dwarves',
  'along',
  'with',
  'bilbo',
  'baggins',
  'gandalf',
  'grey',
  'continue',
  'their',
  'quest',
  'reclaim',
  'erebor',
  'their',
  'homeland',
  'from',
  'smaug',
  'bilbo',
  'baggins',
  'possession',
  'mysterious',
  'magical',
  'ring'],
 ['bilbo',
  'company',
  'forced',
  'engage',
  'war',
  'against',
  'array',
  'combatants',
  'keep',
  'lonely',
  'mountain',
  'from',
  'falling',
  'into',
  'hands',
  'rising',
  'darkness'],
 ['jack',
  'sparrow',
  'barbossa',
  'embark',
  'quest',
  'find',
  'elusive',
  'fountain',
  'youth',
  'only',
  'discover',
  'that',
  'blackbeard',
  'daughter',
  'after'],
 ['superman',
  'reappears',
  'after',
  'long',
  'absence',
  'challenged',
  'old',
  'foe',
  'uses',
  'kryptonian',
  'technology',
  'world',
  'domination'],
 ['james',
  'bond',
  'descends',
  'into',
  'mystery',
  'tries',
  'stop',
  'mysterious',
  'organization',
  'from',
  'eliminating',
  'country',
  'most',
  'valuable',
  'resource',
  'while',
  'still',
  'tries',
  'seek',
  'revenge',
  'over',
  'death',
  'love'],
 ['earth',
  'mightiest',
  'heroes',
  'must',
  'come',
  'together',
  'learn',
  'fight',
  'team',
  'they',
  'stop',
  'mischievous',
  'loki',
  'alien',
  'army',
  'from',
  'enslaving',
  'humanity'],
 ['jack',
  'sparrow',
  'races',
  'recover',
  'heart',
  'davy',
  'jones',
  'avoid',
  'enslaving',
  'soul',
  'jones',
  'service',
  'other',
  'friends',
  'foes',
  'seek',
  'heart',
  'their',
  'agenda',
  'well'],
 ['clark',
  'kent',
  'one',
  'last',
  'extinguished',
  'race',
  'disguised',
  'unremarkable',
  'human',
  'forced',
  'reveal',
  'identity',
  'when',
  'earth',
  'invaded',
  'army',
  'survivors',
  'threaten',
  'bring',
  'planet',
  'brink',
  'destruction'],
 ['pevensie',
  'siblings',
  'return',
  'narnia',
  'where',
  'they',
  'enlisted',
  'once',
  'again',
  'help',
  'ward',
  'evil',
  'king',
  'restore',
  'rightful',
  'heir',
  'land',
  'throne',
  'prince',
  'caspian'],
 ['after',
  'peter',
  'parker',
  'bitten',
  'genetically',
  'altered',
  'spider',
  'gains',
  'newfound',
  'spider',
  'like',
  'powers',
  'ventures',
  'solve',
  'mystery',
  'parent',
  'mysterious',
  'death'],
 ['new',
  'theme',
  'park',
  'built',
  'original',
  'site',
  'jurassic',
  'park',
  'creates',
  'genetically',
  'modified',
  'hybrid',
  'dinosaur',
  'which',
  'escapes',
  'containment',
  'goes',
  'killing',
  'spree']]

In [11]:
df['clean_plot'] = plot

In [12]:
df['clean_plot']

0     [paraplegic, marine, dispatched, moon, pandora...
1     [captain, barbossa, will, turner, elizabeth, s...
2     [cryptic, message, from, bond, past, sends, tr...
3     [eight, years, after, joker, reign, anarchy, d...
4     [native, american, warrior, tonto, recounts, u...
5     [transported, barsoom, civil, war, vet, discov...
6     [magically, long, haired, rapunzel, spent, ent...
7     [strange, black, entity, from, another, world,...
8     [when, tony, stark, bruce, banner, try, jump, ...
9     [political, interference, avengers, activities...
10    [fearing, that, actions, superman, left, unche...
11    [reluctant, hobbit, bilbo, baggins, sets, lone...
12    [harry, potter, begins, sixth, year, hogwarts,...
13    [dwarves, along, with, bilbo, baggins, gandalf...
14    [bilbo, company, forced, engage, war, against,...
15    [jack, sparrow, barbossa, embark, quest, find,...
16    [superman, reappears, after, long, absence, ch...
17    [james, bond, descends, into, mystery, tries, ...
18    [earth, mightiest, heroes, must, come, togethe...
19    [jack, sparrow, races, recover, heart, davy, j...
20    [clark, kent, one, last, extinguished, race, d...
21    [pevensie, siblings, return, narnia, where, th...
22    [after, peter, parker, bitten, genetically, al...
23    [new, theme, park, built, original, site, jura...
Name: clean_plot, dtype: object

In [13]:
df['Genre'] = df['Genre'].apply(lambda x: x.split(','))
df['Actors'] = df['Actors'].apply(lambda x: x.split(',')[:4])
df['Director'] = df['Director'].apply(lambda x: x.split(','))

In [14]:
df['Actors'][0]

['Sam Worthington', ' Zoe Saldana', ' Sigourney Weaver', ' Stephen Lang']

In [15]:
def clean(sentence):
  temp = []
  for word in sentence:
    temp.append(word.lower().replace(' ', ''))
  return temp

In [16]:
df['Genre'] = [clean(x) for x in df['Genre']]
df['Actors'] = [clean(x) for x in df['Actors']]
df['Director'] = [clean(x) for x in df['Director']]

In [17]:
df['Actors'][0]

['samworthington', 'zoesaldana', 'sigourneyweaver', 'stephenlang']

In [18]:
columns = ['clean_plot', 'Genre', 'Actors', 'Director']
l = []
for i in range(len(df)):
  words = ''
  for col in columns:
    words += ' '.join(df[col][i]) + ' '
  l.append(words)

l

['paraplegic marine dispatched moon pandora unique mission becomes torn between following orders protecting world feels home action adventure fantasy samworthington zoesaldana sigourneyweaver stephenlang jamescameron ',
 'captain barbossa will turner elizabeth swann must sail edge map navigate treachery betrayal find jack sparrow make their final alliances one last decisive battle action adventure fantasy johnnydepp geoffreyrush orlandobloom keiraknightley goreverbinski ',
 'cryptic message from bond past sends trail uncover sinister organization while battles political forces keep secret service alive bond peels back layers deceit reveal terrible truth behind spectre action adventure thriller danielcraig christophwaltz léaseydoux ralphfiennes sammendes ',
 'eight years after joker reign anarchy dark knight with help enigmatic selina forced from imposed exile save gotham city edge total annihilation from brutal guerrilla terrorist bane action thriller christianbale garyoldman tomhardy josephgordon-levitt christophernolan ',
 'native american warrior tonto recounts untold tales that transformed john reid man law into legend justice action adventure western johnnydepp armiehammer williamfichtner tomwilkinson goreverbinski ',
 'transported barsoom civil war vet discovers barren planet seemingly inhabited foot tall barbarians finding himself prisoner these creatures escapes only encounter woola princess desperate need savior action adventure sci-fi taylorkitsch lynncollins samanthamorton willemdafoe andrewstanton ',
 'magically long haired rapunzel spent entire life tower that runaway thief stumbled upon about discover world first time really animation adventure comedy mandymoore zacharylevi donnamurphy ronperlman nathangreno byronhoward ',
 'strange black entity from another world bonds with peter parker causes inner turmoil contends with new villains temptations revenge action adventure tobeymaguire kirstendunst jamesfranco thomashadenchurch samraimi ',
 'when tony stark bruce banner try jump start dormant peacekeeping program called ultron things go horribly wrong earth mightiest heroes stop villainous ultron from enacting terrible plan action adventure sci-fi robertdowneyjr. chrishemsworth markruffalo chrisevans josswhedon ',
 'political interference avengers activities causes rift between former allies captain america iron man action adventure sci-fi chrisevans robertdowneyjr. scarlettjohansson sebastianstan anthonyrusso joerusso ',
 'fearing that actions superman left unchecked batman takes man steel while world wrestles with what kind hero really needs action adventure sci-fi benaffleck henrycavill amyadams jesseeisenberg zacksnyder ',
 'reluctant hobbit bilbo baggins sets lonely mountain with spirited group dwarves reclaim their mountain home gold within from dragon smaug adventure fantasy ianmckellen martinfreeman richardarmitage kenstott peterjackson ',
 'harry potter begins sixth year hogwarts discovers old book marked property half blood prince begins learn more about lord voldemort dark past adventure family fantasy danielradcliffe michaelgambon davelegeno elaricajohnson davidyates ',
 'dwarves along with bilbo baggins gandalf grey continue their quest reclaim erebor their homeland from smaug bilbo baggins possession mysterious magical ring adventure fantasy ianmckellen martinfreeman richardarmitage kenstott peterjackson ',
 'bilbo company forced engage war against array combatants keep lonely mountain from falling into hands rising darkness adventure fantasy ianmckellen martinfreeman richardarmitage kenstott peterjackson ',
 'jack sparrow barbossa embark quest find elusive fountain youth only discover that blackbeard daughter after action adventure fantasy johnnydepp penélopecruz geoffreyrush ianmcshane robmarshall ',
 'superman reappears after long absence challenged old foe uses kryptonian technology world domination action adventure sci-fi brandonrouth katebosworth kevinspacey jamesmarsden bryansinger ',
 'james bond descends into mystery tries stop mysterious organization from eliminating country most valuable resource while still tries seek revenge over death love action adventure thriller danielcraig olgakurylenko mathieuamalric judidench marcforster ',
 'earth mightiest heroes must come together learn fight team they stop mischievous loki alien army from enslaving humanity action sci-fi robertdowneyjr. chrisevans markruffalo chrishemsworth josswhedon ',
 'jack sparrow races recover heart davy jones avoid enslaving soul jones service other friends foes seek heart their agenda well action adventure fantasy johnnydepp orlandobloom keiraknightley jackdavenport goreverbinski ',
 'clark kent one last extinguished race disguised unremarkable human forced reveal identity when earth invaded army survivors threaten bring planet brink destruction action adventure fantasy henrycavill amyadams michaelshannon dianelane zacksnyder ',
 'pevensie siblings return narnia where they enlisted once again help ward evil king restore rightful heir land throne prince caspian action adventure family benbarnes georgiehenley skandarkeynes williammoseley andrewadamson ',
 'after peter parker bitten genetically altered spider gains newfound spider like powers ventures solve mystery parent mysterious death action adventure andrewgarfield emmastone rhysifans denisleary marcwebb ',
 "new theme park built original site jurassic park creates genetically modified hybrid dinosaur which escapes containment goes killing spree action adventure sci-fi chrispratt brycedallashoward irrfankhan vincentd'onofrio colintrevorrow "]

In [19]:
df['clean_input'] = l
df = df[['Title', 'clean_input']]
df.head()

,Title,clean_input
0,Avatar,paraplegic marine dispatched moon pandora uniq...
1,Pirates of the Caribbean: At World's End,captain barbossa will turner elizabeth swann m...
2,Spectre,cryptic message from bond past sends trail unc...
3,The Dark Knight Rises,eight years after joker reign anarchy dark kni...
4,The Lone Ranger,native american warrior tonto recounts untold ...

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
tfidf = TfidfVectorizer()
features = tfidf.fit_transform(df['clean_input'])

In [22]:
# create cosine similarity matrix
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(features, features)
print(cosine_sim)

[[1.         0.02234177 0.00834916 0.00477107 0.01052912 0.00852746
  0.02494923 0.03253969 0.00846682 0.05186019 0.0326462  0.05592147
  0.0160642  0.01717442 0.02027905 0.02718079 0.03650009 0.00908081
  0.00600195 0.02187936 0.02257619 0.00941022 0.00980994 0.00906736]
 [0.02234177 1.         0.00751375 0.03223568 0.06211948 0.00767421
  0.00373032 0.00913265 0.00761965 0.04667114 0.00916255 0.04022464
  0.01445685 0.05889171 0.01824996 0.22527458 0.01024419 0.0081722
  0.04055211 0.19716002 0.08269845 0.00846865 0.00882837 0.00816009]
 [0.00834916 0.00751375 1.         0.042964   0.00841157 0.00681247
  0.00331144 0.01925811 0.04073426 0.04143041 0.03257777 0.01484643
  0.02889258 0.01372041 0.04875    0.00914116 0.00909386 0.16665839
  0.01656402 0.0341918  0.03528077 0.0075177  0.00783703 0.00724379]
 [0.00477107 0.03223568 0.042964   1.         0.00480673 0.00389294
  0.         0.06385885 0.02284003 0.005095   0.02294942 0.04135009
  0.02629359 0.03821394 0.05239249 0.02899826 0.02884821 0.04672904
  0.02889291 0.00420481 0.02760747 0.03225262 0.0248612  0.00413941]
 [0.01052912 0.06211948 0.00841157 0.00480673 1.         0.0085912
  0.02840293 0.01022392 0.00853012 0.04503547 0.0672447  0.00453483
  0.00391998 0.00419089 0.03877629 0.07033053 0.01146827 0.0366432
  0.00604681 0.06083378 0.00957501 0.00948057 0.00988328 0.00913514]
 [0.00852746 0.00767421 0.00681247 0.00389294 0.0085912  1.
  0.00338216 0.00828027 0.03059669 0.04033109 0.03679222 0.00367273
  0.0295096  0.00339417 0.03725218 0.04338368 0.04113554 0.00740946
  0.03486315 0.00751538 0.03603421 0.00767824 0.00800439 0.05974718]
 [0.02494923 0.00373032 0.00331144 0.         0.02840293 0.00338216
  1.         0.02422604 0.00335811 0.0044265  0.08122808 0.00406084
  0.03262803 0.00375285 0.00443126 0.06851176 0.06462505 0.00360163
  0.         0.00365311 0.00376946 0.00373228 0.00389082 0.00359629]
 [0.03253969 0.00913265 0.01925811 0.06385885 0.01022392 0.00828027
  0.02422604 1.         0.01952952 0.05035694 0.07532741 0.06191849
  0.00377811 0.05722235 0.01969123 0.0111107  0.03544208 0.05310118
  0.02013288 0.00894363 0.00922848 0.00913745 0.07900019 0.04091231]
 [0.00846682 0.00761965 0.04073426 0.02284003 0.00853012 0.03059669
  0.00335811 0.01952952 1.         0.09439009 0.03653062 0.01505566
  0.00315219 0.01391378 0.01642898 0.00926999 0.04084306 0.03958493
  0.30907691 0.00746194 0.05891753 0.00762365 0.00794748 0.03253387]
 [0.05186019 0.04667114 0.04143041 0.005095   0.04503547 0.04033109
  0.0044265  0.05035694 0.09439009 1.         0.08082803 0.00480679
  0.00415506 0.00444222 0.00524525 0.01221925 0.05383736 0.00969735
  0.11437625 0.00983597 0.01014924 0.01004913 0.01047598 0.04288458]
 [0.0326462  0.00916255 0.03257777 0.02294942 0.0672447  0.03679222
  0.08122808 0.07532741 0.03653062 0.08082803 1.         0.02639346
  0.00379047 0.02439167 0.004785   0.03957705 0.11402217 0.03543263
  0.04162451 0.00897291 0.11055068 0.00916736 0.00955676 0.03912165]
 [0.05592147 0.04022464 0.01484643 0.04135009 0.00453483 0.00367273
  0.00406084 0.06191849 0.01505566 0.00480679 0.02639346 1.
  0.01573778 0.46134626 0.3520355  0.02034677 0.00490267 0.01614745
  0.01443259 0.0393921  0.0168999  0.00405293 0.00422508 0.00390526]
 [0.0160642  0.01445685 0.02889258 0.02629359 0.00391998 0.0295096
  0.03262803 0.00377811 0.00315219 0.00415506 0.00379047 0.01573778
  1.         0.01454416 0.01717332 0.01758806 0.03939191 0.00338077
  0.03307702 0.01415763 0.01460853 0.06162548 0.00365223 0.00337576]
 [0.01717442 0.05889171 0.01372041 0.03821394 0.00419089 0.00339417
  0.00375285 0.05722235 0.01391378 0.00444222 0.02439167 0.46134626
  0.01454416 1.         0.24507104 0.05658257 0.00453083 0.03963096
  0.01333796 0.05767281 0.01561815 0.00374554 0.03059673 0.00360907]
 [0.02027905 0.01824996 0.04875    0.05239249 0.03877629 0.03725218
  0.00443126 0.01969123 0.01642898 0.00524525 0.004785   0.3520355
  0.01717332 0.24507104 1.         0.02220273 0.00534987 0.04679507
  0.01574907 0.01787224 0.04897566 0.00442262 0.00461048 0.00426148]
 [0.02718079 0.22527458 0.00914116 0.02899826 0.07033053 0.04338368
  0.06851176 0.0111107  0.00926999 0.01221925 0.03957705 0.02034677
  0.01758806 0.05658257 0.02220273 1.         0.04424913 0.00994222
  0.00657129 0.11028719 0.02471778 0.01030288 0.0381336  0.00992749]
 [0.03650009 0.01024419 0.00909386 0.02884821 0.01146827 0.04113554
  0.06462505 0.03544208 0.04084306 0.05383736 0.11402217 0.00490267
  0.03939191 0.00453083 0.00534987 0.04424913 1.         0.00989078
  0.04653829 0.01003216 0.01035167 0.01024957 0.03793629 0.04373996]
 [0.00908081 0.0081722  0.16665839 0.04672904 0.0366432  0.00740946
  0.00360163 0.05310118 0.03958493 0.00969735 0.03543263 0.01614745
  0.00338077 0.03963096 0.04679507 0.00994222 0.00989078 1.
  0.04598407 0.03718811 0.00825795 0.00817649 0.0963085  0.00787858]
 [0.00600195 0.04055211 0.01656402 0.02889291 0.00604681 0.03486315
  0.         0.02013288 0.30907691 0.11437625 0.04162451 0.01443259
  0.03307702 0.01333796 0.01574907 0.00657129 0.04653829 0.04598407
  1.         0.03971279 0.0702494  0.04057342 0.00563379 0.03707045]
 [0.02187936 0.19716002 0.0341918  0.00420481 0.06083378 0.00751538
  0.00365311 0.00894363 0.00746194 0.00983597 0.00897291 0.0393921
  0.01415763 0.05767281 0.01787224 0.11028719 0.01003216 0.03718811
  0.03971279 1.         0.01989674 0.00829337 0.00864565 0.0079912 ]
 [0.02257619 0.08269845 0.03528077 0.02760747 0.00957501 0.03603421
  0.00376946 0.00922848 0.05891753 0.01014924 0.11055068 0.0168999
  0.01460853 0.01561815 0.04897566 0.02471778 0.01035167 0.00825795
  0.0702494  0.01989674 1.         0.00855751 0.008921   0.00824571]
 [0.00941022 0.00846865 0.0075177  0.03225262 0.00948057 0.00767824
  0.00373228 0.00913745 0.00762365 0.01004913 0.00916736 0.00405293
  0.06162548 0.00374554 0.00442262 0.01030288 0.01024957 0.00817649
  0.04057342 0.00829337 0.00855751 1.         0.00883301 0.00816438]
 [0.00980994 0.00882837 0.00783703 0.0248612  0.00988328 0.00800439
  0.00389082 0.07900019 0.00794748 0.01047598 0.00955676 0.00422508
  0.00365223 0.03059673 0.00461048 0.0381336  0.03793629 0.0963085
  0.00563379 0.00864565 0.008921   0.00883301 1.         0.0395492 ]
 [0.00906736 0.00816009 0.00724379 0.00413941 0.00913514 0.05974718
  0.00359629 0.04091231 0.03253387 0.04288458 0.03912165 0.00390526
  0.00337576 0.00360907 0.00426148 0.00992749 0.04373996 0.00787858
  0.03707045 0.0079912  0.00824571 0.00816438 0.0395492  1.        ]]

**MOVIE RECOMMENDATION**

In [23]:
index = pd.Series(df['Title'])
index.head()

0                                      Avatar
1    Pirates of the Caribbean: At World's End
2                                     Spectre
3                       The Dark Knight Rises
4                             The Lone Ranger
Name: Title, dtype: object

In [28]:
def recommend_movies(title):
  movies = []
  idx = index[index == title].index[0]
  #print(idx)
  score = pd.Series(cosine_sim[idx]).sort_values(ascending=False)
  top10 = list(score.iloc[1:11].index)
  #print(top10)

  for i in top10:
    movies.append(df['Title'][i])
  return movies

In [29]:
recommend_movies('The Dark Knight Rises')

['Spider-Man 3',
 'The Hobbit: The Battle of the Five Armies',
 'Quantum of Solace',
 'Spectre',
 'The Hobbit: An Unexpected Journey',
 'The Hobbit: The Desolation of Smaug',
 'The Chronicles of Narnia: Prince Caspian',
 "Pirates of the Caribbean: At World's End",
 'Pirates of the Caribbean: On Stranger Tides',
 'The Avengers']

In [30]:
recommend_movies('The Avengers')

['Avengers: Age of Ultron',
 'Captain America: Civil War',
 'Man of Steel',
 'Superman Returns',
 'Quantum of Solace',
 'Batman v Superman: Dawn of Justice',
 'The Chronicles of Narnia: Prince Caspian',
 "Pirates of the Caribbean: At World's End",
 "Pirates of the Caribbean: Dead Man's Chest",
 'Jurassic World']